#<rm>
# We don't want lockfiles in stack templates,
# as people could use a different package manager
# This part will be removed by `remix.init`
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml
#</rm>
node_modules
coverage

/server
/public/build
preferences.arc
sam.json
sam.yaml
.env
hyper-nano
__hyper__

/cypress/screenshots
/cypress/videos

/app/styles/tailwind.css
